# Schwab API Configuration

# Google Cloud Storage Configuration
# Your GCS bucket name where refresh tokens will be stored
GOOGLE_CLOUD_PROJECT_ID=your-gcs-cloud-project-id-name-here
# Path to your Google Cloud service account credentials JSON file
GOOGLE_APPLICATION_CREDENTIALS=path-to-your-service-account-credentials.json